binary "https://artifacts.s73cloud.com/repository/raw-s73-releases/s73-polynet-plat/polynet-apple-sdk/PolynetSDK.json" ~> 5.1.7
github "apple/swift-protobuf" == 1.26.0
github "daltoniam/Starscream" ~> 4.0.8